.container{
    border: 5px solid black;
    width: 40% !important;
    height: 50%;
    margin-top: 10%;
    border-radius: 10px;
}

.btn-primary{
    width: 100%;
    margin-top: 2%;
}

.display{
    width: 100% !important;
    height: 15% 
}

.btn-dark{
    width: 20%;
    height: 14%;
    margin: 1% 1% ;

}
@media screen and (max-width: 550px) {
    .container {
      height: 60%;
      width: 80% !important; 
    }
  }
  
  body{
      background-image: url(geo.jpg);
  } 